<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mapper.RecordMapper">

    <sql id="Base_Column_List">
        id,user_id,doctor_id,time,medical_record,inhospital,inhostpital_record
    </sql>

    <select id="selectAll" resultType="com.hospital.entity.Record">
        select record.*, user.name as userName, doctor.name as doctorName
        from record
        left join user on record.user_id = user.id
        left join doctor on record.doctor_id = doctor.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="userId != null"> and record.user_id = #{userId}</if>
            <if test="doctorId != null"> and record.doctor_id = #{doctorId}</if>
            <if test="inhospital != null"> and inhospital = #{inhospital}</if>
        </where>
        order by id desc
    </select>


</mapper>